<div class = "another-header">
  <%= link_to 'Escape Route', "/routes", method: :get ,class: "header-logo-word" %>
</div>


<div class = "message-box" >
  <div class = "user-info" >
    <div class = "user-info__number"> 1 )</div>
    <div class = "user-info__name" >名前/  安田</div>
    <div class = "user-info__furigana" >ふりがな/  やすだ</div>
    <div class = "user-info__school" >学校/ 財前小学校</div>
  </div>
  <div class = "user-message" >message: テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</div>
</div>




<div class = "message-box" >
  <div class = "user-info" >
    <div class = "user-info__name" >名前:</div>
    <div class = "user-info__furigana" >ふりがな:</div>
    <div class = "user-info__school" >学校:</div>
  </div>
  <div class = "user-message" >message: テストテストテストテストテストテストテストテストテストテストテストテスト</div>
</div>


<div class = "message-box" >
  <div class = "user-info" >
    <div class = "user-info__name" >名前:</div>
    <div class = "user-info__furigana" >ふりがな:</div>
    <div class = "user-info__school" >学校:</div>
  </div>
  <div class = "user-message" >message: テストテストテストテストテストテストテストテストテストテストテストテスト</div>
</div>

<div class = "message-box" >
  <div class = "user-info" >
    <div class = "user-info__name" >名前:</div>
    <div class = "user-info__furigana" >ふりがな:</div>
    <div class = "user-info__school" >学校:</div>
  </div>
  <div class = "user-message" >message: テストテストテストテストテストテストテストテストテストテストテストテスト</div>
</div>

<div class = "message-box" >
  <div class = "user-info" >
    <div class = "user-info__name" >名前:</div>
    <div class = "user-info__furigana" >ふりがな:</div>
    <div class = "user-info__school" >学校:</div>
  </div>
  <div class = "user-message" >message: テストテストテストテストテストテストテストテストテストテストテストテスト</div>
</div>

<div class = "message-box" >
  <div class = "user-info" >
    <div class = "user-info__name" >名前:</div>
    <div class = "user-info__furigana" >ふりがな:</div>
    <div class = "user-info__school" >学校:</div>
  </div>
  <div class = "user-message" >message: テストテストテストテストテストテストテストテストテストテストテストテスト</div>
</div>
