<%= render 'shared/header' %>

<div class = "chat-main">

  <div class = "chat-main__content">

    <div class = "time">
      2019/06/15
    </div>
    
    <div class = "my-chat">
      テスト
    </div>

    <div class = "the_other_person-chat">
      テスト
    </div>


    <div class = "my-chat">
      テスト
    </div>

    <div class = "the_other_person-chat">
      テスト
    </div>

　  <div class = "my-chat">
      テスト
    </div>

    <div class = "the_other_person-chat">
       テスト
    </div>

     <div class = "the_other_person-chat">
       テスト
    </div>
    
    <div class = "the_other_person-chat">
       テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト
    </div>

  </div>
</div>




<%# <div class = "chat-form">
  <%# <%form_with = %>
  <%# <textarea cols="30" name="message" placeholder="message" rows="2" class="message-form"></textarea> %>
  <%# <input type="submit" value="送信", class= "submit-btn"> %>
<%# </div> %>




<div class = "chat-form">
  <%= form_with model: @talk,local: true do |f|  %>
  <%= f.text_area :message, cols:"30" ,placeholder:"message" ,class:"message-form" %>
  <input type="submit" value="送信", class= "submit-btn">
  <% end%>
</div>