<div class = "header">
  <%= link_to 'Escape Route', "/talks", method: :get ,class: "header-logo-word" %>
</div>

<div class = "talks-select">
  <div class = "left-select">
    <div  class = "left-select-word">
      通報する
    </div>
  </div>

  <div class = "right-select">
   <div  class = "right-select-word">
     相談する
   </div>
  </div>
</div>









<%# <div></div> %>