<%= render 'shared/header' %>

<div class = "chat-main">

  <div class = "chat-main__content">

    <div class = "time">
      2019/06/15
    </div>
    
    <div class = "my-chat">
      チンポジ
    </div>

    <div class = "the_other_person-chat">
      ジャージ
    </div>


    <div class = "my-chat">
      事実
    </div>

    <div class = "the_other_person-chat">
      通気性
    </div>

　  <div class = "my-chat">
      インポ
    </div>

    <div class = "the_other_person-chat">
       ぽ？
    </div>

     <div class = "the_other_person-chat">
       ぽこちん
    </div>

  </div>
</div>




<div class = "chat-form">
  <%# <%form_with = %>
  <textarea cols="30" name="text" placeholder="message" rows="2" class="message-form"></textarea>
  <input type="submit" value="送信", class= "submit-btn">
</div>




<%#
<div class = "">
</div>
 %>