<%= render 'shared/header' %>

<div class = "input-field">
  <div class = "input-field__text create-word">
    ご報告ありがとうございます。調査させていただきます。<br>
    なお、ご報告いただきました内容は<br>
    漏洩することはございませんので、ご安心くださいませ。
  </div>
</div>
