<%= render 'shared/header' %>

<div class = "input-field">
  <div class = "input-field__text create-word">
    ご報告ありがとうございます。<br>
    ご提供いただいた情報を元に調査させていただきます。<br>
    なお、ご報告いただきました内容は<br>
    外部に漏洩することはございませんので、ご安心くださいませ。
  </div>
</div>
