

.top-content{
  height: 100vh;
  animation: bg-color 10s infinite;
  -webkit-animation: bg-color 15s infinite;
  @-webkit-keyframes bg-color {
    0% { background-color: #FFCCFF;  }
    20% { background-color: #9b59b6; }
    60% { background-color: #CD5C5C; }
    75% { background-color:  #800000; }
    90% { background-color: #FF6633; }
    100% { background-color: #FFCCCC; }
  }
  .top-word{
    color: #00FFFF;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 300px;
    display: none;
  }

  .enter-btn{
    width: 200px;
    height: 100px;
    background: #FF3300;
    border-radius: 60px;
    opacity: 0.8;
    margin-top: 200px;
    margin-left: 1100px;

    .enter-word{
      color: #FFF;
      font-weight: bold;
      text-align: center;
      padding-top: 40px; 
    }
  }
}


