.top-content{
  .top-word{
    color: #00FFFF;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 300px;
    display: none;
  }

  .enter-btn{
    width: 200px;
    height: 100px;
    background: #FF3300;
    border-radius: 60px;
    opacity: 0.8;
    margin-top: 200px;
    margin-left: 1100px;

    .enter-word{
      color: #FFF;
      font-weight: bold;
      text-align: center;
      padding-top: 40px; 
    }
  }
}