.input-field{
  padding-top: 130px;
  &__text{
    background: #EEEEEE;
    width:500px;
    height: 400px;
    margin: 0 auto;
    padding: 25px;
    display: grid;
    .school{
      color: #FFF;
      font-size: 20px;
    }
    .name-of-school{

    }
    #select{

    }
    .necessary{
      color: red;
      font-size: 10px;
    }
  }
}