<%= render 'shared/login-header' %>


  <div class = "talks-select">
    <div class = "left-select">
    <%= link_to  "/notifies/new", method: :get ,class: "path" do %>
      <div  class = "left-select-word">
        通報する
      </div>
      <%end%>
  </div>



  <div class = "right-select">
    <%= link_to  "/talks/", method: :get , class: "path" do %>
      <div  class = "right-select-word">
        相談する
      </div>
    <%end%>
  </div>





