<div class = "top-content">

  <div class = "top-word">
    Let's Escape together
  </div>

<%= link_to  "routes/", method: :get ,class: "path" do %>
  <div class = "enter-btn">
    <div class = "enter-word">
      Enter
    </div>
  </div>
</div>
<% end%>