.header{
  width: 100vw;
  height: 80px;
  background: #EEEEEE;
  position: fixed;
  text-align: center;
  z-index: 111;
  .header-logo-word{
  font-size: 20px;
  font-weight: bold;
  color: #333;
  // margin: 0 auto;
  padding-top:25px;
  text-decoration: none;
  display: inline-block;
  }
}

.path{
  text-decoration: none;
}
  .talks-select{
    display: flex;
    padding-top: 80px;
    .left-select{
      display: none;
      width: 350px;
      height: 350px;
      background: red;
      margin: 150px 160px ;
      opacity: 0.6;
      border-radius: 150px;
      cursor: pointer;
      .left-select-word{
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding-top: 150px;
      }
    }
    .right-select{
      display: none;
      width: 350px;
      height: 350px;
      background: blue;
      margin: 150px 200px;
      opacity: 0.5;
      border-radius: 150px;
      cursor: pointer;
      .right-select-word{
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding-top: 150px;
      }
    }
}